.background-registro {
    /* background-image: url('Assets_GNP_Intranet/background/Background_Login.png'); */
    background: linear-gradient(to bottom, #1d202b 51%, #383e53 98%);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.box-registro {
    background: linear-gradient(to top, #005c00e3 0%, #003300 80%);
    width: 500px;
    height: auto;
    align-self: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 10px 10px 10px black;
    border-style: solid;    
    border-top-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-color: white;
}

.dainfe-image {
    /* background-image: url('Assets_GNP_Intranet/background/Background_Login.png'); */
    background-color: red;
    height: 50px;
    width: 100px;
    justify-self: center;
    margin: 10px;
}

.button-escolha {
    background-color: #EEEEEE;
    color: black;
    border-style: none;
    border-radius: 3px;
    transition: all .2s ease-in-out;
}
    .button-escolha:hover {
        border-style: none;
        background-color: #424242;
        color: black;
        transform: scale(1.1);
    }

.button-voltar{
    background-color: #eb340b;
    color: white;
    border-style: none;
    border-radius: 3px;
    transition: all .2s ease-in-out; 
}

    .button-voltar:hover {
        border-style: none;
        color: white;
        transform: scale(1.1); 
    }