.navegacao {
    background-color: #1d202b;
    color: white;
    width: 100vw;
    height: 100px;
    position: absolute;
    z-index: 1;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.dainfe {
    background-color: #3a684d;
    width: 100px;
    height: 50px;
    margin-left: 15px;
}

.box-iniciais {
    background-color: #3a684d;
    color: #c0d230;
    padding: 7px 2px;
    width: 40px;
    height: 40px;
    margin: 0px 10px;
    font-size: large;
    border-style: solid;
    border-color: #c0d230;
    border-width: 1px;
}

.btn-navbar {
    background-color: transparent;
    color: white;
    border: none;
    transition: all .2s ease-in-out; 
}

.btn-navbar:hover{
    color: white;
    color: white;
    transform: scale(1.1); 
}

.user {
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
}