.fundo-home {
    background-color: white;
    height: 100vh;
    width: 100vw;
    padding: 110px 20px 20px 20px;
    overflow: hidden;
    display: block;
    position: relative;
}

.fundo-principal {
    background-color: greenyellow;
    height: calc(100%);
    width: calc(100%);
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.dainfe-image {
    background-color: red;
    height: 50px;
    width: 100px;
    justify-self: center;
    margin: 10px;
}